body {line-height:1.5;font-family:arial,"宋体";background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:normal;
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    *font-size:100%;
}
fieldset,img,a img,:link img,:visited img{border:0;}
a{text-decoration:none;}
a:hover {text-decoration:underline;}
:focus {outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
sup,sub {font-size:100%;vertical-align:baseline;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
.clear,.clearfix:after {clear:both;height:0;overflow:hidden;display:block;}
.clearfix:after {visibility:hidden;content:".";}
.clearfix{*zoom:1;}

.common_wrap {width:960px;margin:0 auto;}
.wap_wrap {widows: 750px;margin:0 auto;}

.mt20{margin-top: 20px;}
.page_wrap{
	width: 710px;
    font-family: "microsoft yahei";
	font-size: 38px;
	line-height: 60px;
	color: #464646;

	padding: 0px 20px;
}
.art-content{
    padding-bottom: 30px;
}
.art-content .art-title{
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
    padding-top: 28px;
    letter-spacing: -1px;
}
.art-writer{
    font-size: 26px;
    color: #505050;
    line-height: 26px;
    margin: 36px 0;
    font-family: avril;
}
.art-writer time{
    padding-left: 20px;
}
.art-pic{
    display: block;
    width: 710px;
    height: 400px;
    margin-bottom: 40px;
}
.art-text{
    font-size: 34px;
    line-height: 60px;
    color: #464646;
}
.art-text img{
    max-width: 710px;
    display: inline-block;
}
.art-text img.img-jpg{
    width: 710px;
    display: inline-block;
}
.art-text img.img-gif{
    width: 710px;
    display: inline-block;
}
.art-from{
    font-size: 28px;
    color: #505050;
    margin-top: 50px;
}

/*懒加载*/
.sc-imgctl{display: inline-block;}
.gif-wrap{position: relative;}
.gif-wrap:after{position: absolute;top: 0px;right: 0px;content: "GIF";display: block;width: 50px;height: 30px;line-height: 30px;font-size: 24px;color: #fff;text-align: center;background: #000;opacity: 0.5;}
.gif-wrap:before{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/btn_play.png) center 45% no-repeat;
}
.gif-wrap.on:before{
    opacity: 0;
}

