html,body{
	height: 100%;
	overflow: hidden;
}
.page_wrap{
	width: 100%;
	font-size: 0.22rem;
	height: 100%;
}
.video-container{
	width: 100%;
	height: 100%;
	position: relative;
}
.video-wrap{
	width: 100%;
	height:100%;
	overflow: hidden;
	background: #369;
}

/*up主信息*/
.up-info-wrap{
	width: 2.6rem;
	height: 0.66rem;
	padding: 0.07rem;
	border-radius: 0.4rem;
	background: rgba(48,48,48,0.6);
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	z-index: 9999999999;
}
.up-avatar{
	width: 0.66rem;
	height: 0.66rem;
	border-radius: 0.33rem;
	overflow: hidden;
	float: left;
	margin-right: 0.1rem;
}
.up-avatar img{
	width: 0.66rem;
	height: 0.66rem;
	background: url(../images/avatar.png) ;
	background-size: cover;
}
.up-name{
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.26rem;
	color: #fff;
}
.up-status{
	color: rgb(248,146,46);
	font-size: 0.34rem;
	padding-left: 3px;
}
.up-attention{
	height: 0.30rem;
	line-height: 0.30rem;
	font-size: 0.20rem;
	color: #fff;
}
/*聊天*/
.chat-wrap{
	width: 5.5rem;
	/*background: rgba(48,48,48,0.3);*/
	position: absolute;
	bottom: 1rem;
	left: 0.2rem;
}
.avatar_box{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 999px;
	margin-left: -0.7rem;
	float: left;
	overflow: hidden;
}
.avatar_box img{
	width: 0.5rem;
	height: 0.5rem;
}

.chat-i{
	width: 4.8rem;
	padding-left: 0.7rem;
	margin: 0.1rem 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	-webkit-transform: translateY(0rem);
	-moz-transform: translateY(0rem);
	-ms-transform: translateY(0rem);
	-o-transform: translateY(0rem);
	transform: translateY(0rem);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.chat-i.hide{
	opacity: 0;
}
.chat-i.show{
	opacity: 0;
	animation: fade_in 0.1s 0.2s forwards linear;
	-moz-animation: fade_in 0.1s 0.2s forwards linear;	/* Firefox */
	-webkit-animation: fade_in 0.1s 0.2s forwards linear;	/* Safari 和 Chrome */
	-o-animation: fade_in 0.1s 0.2s forwards linear;	/* Opera */
}
.chat-i .content{
	margin-left: 0.15rem;
	line-height: 0.40rem;
	padding: 0.05rem 0.15rem;
	font-size: 0.28rem;
	position: relative;
	color: #fff;
	background: rgba(200,200,200,0.4);
	border-radius: 0 0.08rem 0.08rem;
}
.us-name{
	margin-right: 0.15rem;
	color: #2ba6fc;
}
.chat-i .content:before{
	width: 0px;
	height: 0px;
	content: "";
	border: 8px solid transparent;
	border-left: 8px solid rgba(200,200,200,0.4);
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -8px;
	left: -8px;
}
.content{
	
}
/*下载*/
.download-btn{
	width: 7.1rem;
	margin: 0.2rem;
	height: 0.6rem;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -3.55rem;
	background: rgb(254,226,51);
	font-size: 0.32rem;
	line-height: 0.6rem;
	color: #00011;
	text-align: center;
	border-radius: 3px;
}



/*动画*/
/*淡入*/
@keyframes fade_in
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-moz-keyframes fade_in /* Firefox */
{
0%   {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes fade_in /* Safari 和 Chrome */
{
0%   {opacity: 0}
100% {opacity: 1}
}

@-o-keyframes fade_in /* Opera */
{
0%   {opacity: 0}
100% {opacity: 1}
}
/*淡出*/
@keyframes fade_out
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-moz-keyframes fade_out /* Firefox */
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes fade_out /* Safari 和 Chrome */
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-o-keyframes fade_out /* Opera */
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

.playbtn{
	width: 2rem;
	height: 2rem;
	background: #369;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -1rem;
	margin-left: -1rem;
	background: url(../images/btn_play.png);
	background-size: 100%;
	z-index: 99999999;
}



/*异常处理*/
.offline{
	width: 100%;
	height: 100%;
	background:#000;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	display: none;
}
.offline .text{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.38rem;
}