body,html{
	background: #eee;
}
.page_wrap{
	width: 7.5rem;
	font-family: "microsoft yahei";
	color: #222;
	background: #eeeeee;
	overflow: hidden;
	position: relative;
}
.page_container{
	position: relative;
}
.live-time{
	text-align: center;
	font-size: 0.28rem;
}
.live-i{
	background: #fff;
	max-height: 0;
	margin: 0px;
	padding: 0px;
	border: 1px solid #bbbbbb;
	position: relative;
	border-radius: 0.06rem;
	opacity: 0;
	animation: fade_in 0.7s forwards linear;
	-moz-animation: fade_in 0.7s forwards linear;	/* Firefox */
	-webkit-animation: fade_in 0.7s forwards linear;	/* Safari 和 Chrome */
	-o-animation: fade_in 0.7s forwards linear;	/* Opera */
}
.live-i.on{
	max-height: 500px;
}
.lc-compere{
	color: #999;
	font-size: 0.26rem;
	line-height: 0.32rem;
	padding: 0 0.15rem;
	padding-bottom: 0.05rem;
	margin-bottom: 0.05rem;
}
.lc-time{
	font-size: 0.24rem;
	line-height: 0.32rem;
	height: 0.32rem;
	position: absolute;
	top: 0.15rem;
	right: 0.15rem;
	color: #afafaf;
}
.lc-content{
	font-size: 0.32rem;
	line-height: 0.42rem;
	color: #464646;
	text-align: justify;
	padding: 0px 0.5rem;
	overflow: hidden;
}
.lc-content .lc-text{
	padding: 0.05rem 0;
}
.lc-content img{
	max-width: 3.5rem;
	display: inline-block;
}
.lc-content img.lc-img{
	width: 3.5rem;
	display: inline-block;
}
.new_alert{
	height: 0.48rem;
	width: 2.2rem;
	font-size: 0.26rem;
	line-height: 0.48rem;
	background: rgba(255,200,10,0.9);
	text-align: center;
	margin-left: -1.10rem;
	position: fixed;
	top: -0.5rem;
	left: 50%;
	z-index: 9999;
	color: #fff;
	border-radius: 0.30rem;
	opacity: 0;
	-webkit-transition: opacity 0.3s,top 0.3s;
	-moz-transition: opacity 0.3s,top 0.3s;
	-ms-transition: opacity 0.3s,top 0.3s;
	-o-transition: opacity 0.3s,top 0.3s;
	transition: opacity 0.3s,top 0.3s;
}
.new_alert.on{
	opacity: 1;
	top: 0.1rem;
}
/*淡入*/
@keyframes fade_in
{
0%   {opacity: 0;max-height: 0px;margin: 0px;padding: 0px;}
30%  {opacity: 0;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
100% {opacity: 1;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
}

@-moz-keyframes fade_in /* Firefox */
{
0%   {opacity: 0;max-height: 0px;margin: 0px;padding: 0px;}
30%  {opacity: 0;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
100% {opacity: 1;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
}

@-webkit-keyframes fade_in /* Safari 和 Chrome */
{
0%   {opacity: 0;max-height: 0px;margin: 0px;padding: 0px;}
30%  {opacity: 0;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
100% {opacity: 1;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
}

@-o-keyframes fade_in /* Opera */
{
0%   {opacity: 0;max-height: 0px;margin: 0px;padding: 0px;}
30%  {opacity: 0;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
100% {opacity: 1;max-height: 99.99rem;margin: 0.10rem 0.20rem;padding: 0.15rem 0;}
}



/*下载*/
.download-bar-container{
	height: 1.2rem;
}
.download-bar{
	width: 6.90rem;
	padding: 0.2rem 0.3rem;
	height: 0.8rem;
	display: none;
	background: rgba(249,249,249,0.9);
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	left: 0px;
}
.download-bar{
	
}
.download-bar .sc-logo{
	float: left;
}
.download-bar .logo_icon{
	width: 0.8rem;
	height: 0.8rem;
}
.download-bar .app-name{
	font-size: 0.38rem;
	line-height: 0.40rem;
}
.download-bar .app-desc{
	font-size: 0.26rem;
	line-height: 0.40rem;
	color: #666;
}
.download-bar .app-intro{
	width: 3.20rem;
	padding-left: 0.20rem;
	float: left;
}
.download-bar .dl-btn{
	width: 1.70rem;
	height: 0.56rem;
	background: rgb(254,226,51);
	float: right;
	margin-top: 0.12rem;
	border-radius: 0.05rem;
	line-height: 0.56rem;
	text-align: center;
	font-size: 0.32rem;
}