body,html{
	height: 100%;
	overflow: hidden;
	font-size: 16px;
	background: rgb(40,40,40)
}
.page_wrap{
	width: 750px;
	height: 100%;
	font-family: "microsoft yahei";
	coler: #222;
	overflow: hidden;
	font-size: 3rem;
	
}
.slider_wrap.on{
	-webkit-transform: translate3d(0,300px,0);
	-moz-transform: translate3d(0,300px,0);
	-ms-transform: translate3d(0,300px,0);
	-o-transform: translate3d(0,300px,0);
	transform: translate3d(0,300px,0);
}
.slider_wrap{
	height: 100%;
	left:0;
	-webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.slider{
	width: 750px;
	height: 100%;
	position: relative;
}
.page-start{
	background: url(../images/bg_start.jpg)center center no-repeat;
}
.page-start .start{
	font-size: 56px;
	line-height: 80px;
	height: 80px;
	width: 300px;
	text-align: center;
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: 400px;
	font-family: "microsoft yahei";
}
.page-team{
	background: url(../images/team.jpg)center center no-repeat;
}
.group_ul li{
	width: 140px;
	height: 140px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.group_ul .team1{
	margin-top: -495px;
	margin-left: -310px;
}
.group_ul .team2{
	margin-top: -495px;
	margin-left: -150px;
}
.group_ul .team3{
	margin-top: -495px;
	margin-left: 10px;
}
.group_ul .team4{
	margin-top: -495px;
	margin-left: 170px;
}
.group_ul .team5{
	margin-top: -300px;
	margin-left: -310px;
}
.group_ul .team6{
	margin-top: -300px;
	margin-left: -150px;
}
.group_ul .team7{
	margin-top: -300px;
	margin-left: 10px;
}
.group_ul .team8{
	margin-top: -300px;
	margin-left: 170px;
}
.group_ul .team9{
	margin-top: 170px;
	margin-left: -310px;
}
.group_ul .team10{
	margin-top: 170px;
	margin-left: -150px;
}
.group_ul .team11{
	margin-top: 170px;
	margin-left: 10px;
}
.group_ul .team12{
	margin-top: 170px;
	margin-left: 170px;
}
.group_ul .team13{
	margin-top: 365px;
	margin-left: -310px;
}
.group_ul .team14{
	margin-top: 365px;
	margin-left: -150px;
}
.group_ul .team15{
	margin-top: 365px;
	margin-left: 10px;
}
.group_ul .team16{
	margin-top: 365px;
	margin-left: 170px;
}
.question{
	background: url(../images/bg_q.jpg)center center no-repeat;
}
.question .q_index{
	font-size: 60px;
	color: #fff111;
	position: absolute;
	top: 50%;
	left:50%;
	width: 180px;
	height: 80px;
	line-height: 80px;
	margin-top: -505px;
	margin-left: -85px;
	text-align: center;
}
.ques_box{
	font-size: 50px;
	color: #333;
	position: absolute;
	top: 50%;
	left:50%;
	width: 540px;
	height: 380px;
	line-height: 65px;
	margin-top: -390px;
	margin-left: -265px;
	text-align: center;
	display: table;
}
.ques{
	height: 380px;
	display: table-cell;
	vertical-align: middle;
}
.answerlist{
	font-size: 50px;
	color: #fff111;
	position: absolute;
	top: 50%;
	left:50%;
	width: 700px;
	line-height: 70px;
	margin-top: 20px;
	margin-left: -350px;
	text-align: center;
}

.result{
	background: url(../images/bg_res.jpg)center center no-repeat;
}
.result .res{
	width: 500px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -250px;
}
.result .ques_loc{
	width: 500px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 150px;
	margin-left: -250px;
	font-size: 2.5rem;
	font-weight: 500;
}
.result .qloc{
	margin-bottom: 20px;
}
.result .ques_loc .answer{
	float: left;
	width: 100px;
	margin: 0px 70px;
	height: 60px;
	line-height: 60px;
	border: 5px solid #333;
}
.s_share{
	background: url(../images/bg_share.jpg)center center no-repeat;
}
.share_res{
	color: #f7e412;
	width: 500px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
}
.tshare{
	color: #f7e412;
	width: 220px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 120px;
	margin-left: -270px;
	padding-top: 180px;
	text-align: center;
}
.replay{
	color: #f7e412;
	width: 220px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 120px;
    margin-left: 60px;
	padding-top: 180px;
	text-align: center;
}
/*分享*/


/*字体颜色*/
.color_t{
	color: #6ec444;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.color_f{
	color: #f84a2e;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.result .ques_loc .answer.color_w{
	border-color: #fff;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.share-alert{
	position: fixed;
	top: 30px;
	right: 20px;
	width: 300px;
	border-radius: 10px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 2rem;
	z-index: 99999;
	padding: 20px 20px;
	vertical-align: middle;
	display: none;
}
.share-alert.on{
	display: block;
}
.share-alert:after{
	content: "";
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-right: 20px solid rgba(0,0,0,0.8);
	position: absolute;
	right: 0px;
	top: -20px;
}
.share-alert img{
	vertical-align: middle;
}