.area{
	width: 1000px;
	margin: 0 auto;
}
.firstpage{
	height: 600px;
	background: #0c0c0b url(../images/bg1.jpg)center 0px no-repeat;
	position: relative;
}
.page_nav{
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: url(../images/opwhite.png);
	z-index: 1000;
}
.logo{
	float: left;
	line-height: 50px;
	height: 50px;
	width: 150px;
	overflow: hidden;
	text-indent: 300px;
	background: url(../images/logo.png) 0px 48% no-repeat;
	background-size: 75%;
	margin-left: 150px;
}
.slogan{
	color: #999;
	line-height: 50px;
	font-size: 16px;
	font-weight: 500;
	float: right;
	margin-right: 150px;
}
.app_court{
	width: 450px;
	position: absolute;
	left: 50%;
	bottom:115px;
	margin-left: 30px;
}
.app_intro{
	font-size: 22px;
	opacity: 0.9;
	color: #fff;
	font-family: "microsoft yahei";
}
.dl_box{
	height: 52px;
	margin-top: 20px;
}
.dl_btn{
	width: 190px;
	height: 50px;
	border: 1px solid #fed700;
	float: left;
	margin-right: 30px;
	line-height: 50px;
	font-size: 22px;
	color: #fff;
	position: relative;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-radius: 10px 0px 10px 0px;
	
}
.dl_btn:hover{
	border-radius: 0px 10px 0px 10px;
}
/*.dl_btn:after{
	content: "";
	width: 8px;
	height: 8px;
	border: 2px solid #fed700;
	border-bottom: 2px solid transparent;
	border-left: 2px solid transparent;
	position: absolute;
	right: 15px;
	top: 50%;
    margin-top: -6px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.dl_btn:hover:after{
	right: 10px;
}*/
.qr_link{
	width: 180px;
	height: 180px;
	background: #fff url(../images/qr.png?125s);
	background-size: cover;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: 200px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.qr_link.on{
	margin-left: 30px;
	opacity: 1;
}
.slider{
	height: 600px;
	overflow: hidden;
	position: relative;
}
.slider .textbox{
	width: 580px;
	height: 200px;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -100px;
	text-align: center;
	font-family: "microsoft yahei","华文细黑";
	color: #333;
	border-right: 1px solid #fed700;
}
.slider .textbox h2{
	font-size: 54px;
	font-weight: 300;
	color: #333;
}
.slider .textbox p{
	font-size: 24px;
	font-weight: 300;
	color: #666;
}
.s2{
	background: #e8e8e8 url(../images/tt.png) 75% center no-repeat;
	background-attachment: scroll;
}
.s3{
	background:#f0f0f0 url(../images/cq.png) 75% center no-repeat;
	background-attachment: fixed;
}
.s4{
	background: #e8e8e8 url(../images/zl.png) 75% center no-repeat;
	background-attachment: fixed;
}
.s5{
	background: #f0f0f0 url(../images/cjyl.png) 75% center no-repeat;
	background-attachment: fixed;
}
.s6{
	background:#e8e8e8 url(../images/sszx.png) 75% center no-repeat;
	background-attachment: fixed;
}
.page_bottom{
	padding-top: 50px;
	background: #2d2e30;
}
.pb_dllink{
	width: 80px;
	height: 200px;
	margin-right: 50px;
	border-right: 1px solid #5b5c5d;
	float: left;
}
.dllink_ad{
	background: url(../images/dlicon.png) 0 -104px no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 50px;
}
.dllink_ios{
	background: url(../images/dlicon.png) 0 0px no-repeat;
	width: 40px;
	height: 40px;
	display: block;
}
.pb_intro{
	float: left;
	width: 600px;
	height: 200px;
	color: #5b5c5d;
	padding-right: 50px;
	margin-right: 40px;
	border-right: 1px solid #5b5c5d;
}
.pb_intro h3{
	font-size: 18px;
	padding-bottom: 10px;
}
.pb_intro p{
	font-size: 14px;
	padding-bottom: 20px;
}
.copyright{
	color: #5b5c5d;
	font-size: 12px;
	padding: 50px 0px 20px;
	text-align: center;
}
.pb_qr{
	width: 150px;
	height: 150px;
	background: url(../images/qr2.png?12524) 0px 0px;
	float: left;
}