.page_wrap{
	width: 750px;
	font-family: "microsoft yahei";
	color: #222;
	background: #f8f8f8;
	overflow: hidden;
}
.area{
	padding: 0px 20px;
	background: #fff;
}
.art-content{
	padding-bottom: 20px;
}
.art-content .art-title{
	font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    padding-top: 40px;
    letter-spacing: -1px;
}
.art-writer{
	font-size: 26px;
	color: #505050;
	line-height: 26px;
	margin: 36px 0;
	font-family: avril;
}
.art-writer time{
	padding-left: 20px;
}
.art-pic{
	display: block;
	width: 710px;
	height: 400px;
	margin-bottom: 40px;
}
.art-text{
	font-size: 38px;
	line-height: 60px;
	color: #464646;
}
.art-text img{
	max-width: 710px;
	display: inline-block;
}
.art-text img.img-jpg{
	width: 710px;
	display: inline-block;
}
.art-from{
	font-size: 28px;
	color: #505050;
	margin-top: 50px;
}
.writer-info{
	margin-top: 50px;
	padding-bottom: 30px;
}
.writer-info .head-pic{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
	float: left;
}
.writer-info .head-pic img{
	width: 80px;
	height: 80px;
	margin-right: 35px;
}
.writer-info .writer-intro{
	float: right;
	width: 595px;
	position: relative;
}
.writer-info .writer-name{
	font-size: 34px;
	color: #406599;
}
.writer-info .writer-name:after{
	content:"";
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
}
.writer-info .writer-name.v:after{
	background: url(../images/v_icon.png);
}
.writer-info .writer-name.fb:after{
	background: url(../images/fb_icon.png);
}
.writer-info .writer-name.tt:after{
	background: url(../images/tt_icon.png);
}
.writer-info .writer-name.ins:after{
	background: url(../images/ins_icon.png);
}
.writer-info .writer-iden{
	font-size: 28px;
	color: #464646;
	line-height: 28px;
}
.art-share{
	position: relative;
	padding-top: 60px;
}
.art-share:before{
	content: "";
	width: 100%;
	height: 0px;
	border-bottom: 1px solid #d8d8d8;
	position: absolute;
	top: 46px;
	margin: 0px -20px;
}
.share-t{
	position: absolute;
	margin-left: -45px;
	top: 32px;
	left: 50%;
	background: #fff;
	width: 90px;
	height: 28px;
	color: #d8d8d8;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-weight: 300;
}
.share-list{
	height: 230px;
	margin: 0px -20px;
}
.share-list .share-i{
	height: 95px;
	float: left;
	width: 110px;
	margin: 0px 20px;
	padding-top: 135px;
	text-align: center;
	font-size: 24px;
	line-height: 68px;
}
.share-list .share-pyq{
	background: url(../images/share_pyq.png) center 50px no-repeat;
}
.share-list .share-wx{
	background: url(../images/share_wx.png) center 50px no-repeat;
}
.share-list .share-qq{
	background: url(../images/share_qq.png) center 50px no-repeat;
}
.share-list .share-qz{
	background: url(../images/share_qz.png) center 50px no-repeat;
}
.share-list .share-wb{
	background: url(../images/share_wb.png) center 50px no-repeat;
}

.art-comment{
	padding: 0px;
}
.comment-t{
	height: 64px;
	border-bottom: 1px solid #d8d8d8;
}
.comment-t span{
	margin: 0px 20px;
	line-height: 64px;
	border-bottom: 1px solid #ffc81f;
	display: inline-block;
	font-size: 26px;
	color: #505050;
	font-weight: 300;
}
.comment-list{

}
.comment-i{
	padding: 30px 20px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.comment-i.on{
	background: #f0f0f0;
}
.comment-i.fade_in{
	opacity: 0;
	animation: fade_in 0.7s 0.2s forwards linear;
	-moz-animation: fade_in 0.7s 0.2s forwards linear;	/* Firefox */
	-webkit-animation: fade_in 0.7s 0.2s forwards linear;	/* Safari 和 Chrome */
	-o-animation: fade_in 0.7s 0.2s forwas linear;	/* Opera */
}
.comment-i .comment-info{
	
}
.comment-i .head-pic{
	width: 66px;
	height: 66px;
	border-radius: 40px;
	overflow: hidden;
	float: left;
}
.comment-i .head-pic img{
	width: 66px;
	height: 66px;
}
.comment-i .user-info{
	float: left;
	height: 66px;
	padding-left: 10px;
	width: 460px;
}
.comment-i .user-name{
	font-size: 28px;
	color: #306599;
}
.comment-i time{
	font-size: 20px;
	color: #999;
}
.comment-i .dolike{
	padding: 20px 0px 20px 34px;
	font-size: 24px;
	color: #999;
	height: 30px;
	line-height: 35px;
	padding-left: 34px;
	float: right;
	background: url(../images/like_icon.png) 0px center no-repeat;
	position: relative;
}
.comment-i .dolike.on{
	background: url(../images/like_icon_on.png) 0px center no-repeat;
	color: #e83e2d;
}
.comment-i .dolike.on:before{
	content: "";
	width: 34px;
	height: 30px;
	background: url(../images/like_icon_on.png) 0px center no-repeat;
	position: absolute;
	display: block;
	left: 0px;
	top: 18px;
	animation: tobig 0.3s forwards linear;
	-moz-animation: tobig 0.3s forwards linear;	/* Firefox */
	-webkit-animation: tobig 0.3s forwards linear;	/* Safari 和 Chrome */
	-o-animation: tobig 0.3s forwards linear;	/* Opera */
}
.comment-i .comment-content{
	padding: 40px 0px 30px 70px;
	font-size: 32px;
	overflow: hidden;
}
.comment-i .comment-replyto{
	margin: 0px 0px 30px 70px;
	border: 1px solid #e8e8e8;
	height: 58px;
	width: 636px;
	font-size: 32px;
	line-height: 58px;
	text-indent: 10px;
	color: #999;
	overflow: hidden;
}
.comment-i .c-user{
	color:#406599;
}
.comment-i .readmore{
	font-size: 24px;
	width: 145px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	border: 1px solid #999;
	color: #999;
	display: block;
	float: right;
	text-indent: 15px;
	position: relative;
	margin-top: 10px;read
}
.comment-i .readmore:after{
	content: "";
    height: 10px;
    width: 10px;
    display: block;
    border: 2px solid #999;
    border-right-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    bottom: 12px;
    right: 15px;
}


.load_ui{
	width: 120px;
	height: 30px;
	padding: 32px 0px;
	font-size: 28px;
	line-height: 30px;
	margin: 0 auto;
	padding-left: 40px;
	position: relative;
	color: #a0a0a0;
}	
.load_ui.ing:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin: 3px;
	position: absolute;
	left: 0px;
	top: 32px;
	border: 2px solid #bbb;
	border-bottom: 2px solid transparent;
	border-radius: 12px;
	animation: around 0.6s infinite linear;
	-moz-animation: around 0.6s infinite linear;	/* Firefox */
	-webkit-animation: around 0.6s infinite linear;	/* Safari 和 Chrome */
	-o-animation: around 0.6s infinite linear;	/* Opera */
}
.load_ui.end{
	padding-left: 0px;
	width: 200px;
	text-align: center;
}

/*旋转*/
@keyframes around
{
0%   {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@-moz-keyframes around /* Firefox */
{
0%   {-moz-transform: rotate(0deg);}
100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes around /* Safari 和 Chrome */
{
0% {-webkit-transform: rotateZ(0deg);}
100% {-webkit-transform: rotateZ(360deg);}
}

@-o-keyframes around /* Opera */
{
0%   {-o-transform: rotate(0deg);}
100% {-o-transform: rotate(360deg);}
}

/*淡入*/
@keyframes fade_in
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-moz-keyframes fade_in /* Firefox */
{
0%   {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes fade_in /* Safari 和 Chrome */
{
0%   {opacity: 0}
100% {opacity: 1}
}

@-o-keyframes fade_in /* Opera */
{
0%   {opacity: 0}
100% {opacity: 1}
}

/*放大*/
@keyframes tobig
{
0%   {transform: scale(1,1);opacity: 1;}
100% {transform: scale(2,2);opacity: 0;}
}

@-moz-keyframes tobig /* Firefox */
{
0%   {-moz-transform: scale(1,1);opacity: 1;}
100% {-moz-transform: scale(2,2);opacity: 0;}
}

@-webkit-keyframes tobig /* Safari 和 Chrome */
{
0%   {-webkit-transform: scale(1,1);opacity: 1;}
100% {-webkit-transform: scale(2,2);opacity: 0;}
}

@-o-keyframes tobig /* Opera */
{
0%   {-o-transform: scale(1,1);opacity: 1;}
100% {-o-transform: scale(2,2);opacity: 0;}
}



/*出墙 reset*/
.outside .writer-name{
	color: #222;
}
.pub-time{

}
.outside #art-text{
	color: #464646;
	font-size: 22px;
	line-height: 34px;
	font-family: Courier New;
}
.outside .pub-time{
	font-size: 22px;
	color: #999;
	line-height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.outside .page-bar{
	padding: 20px 0px;
}
.outside .writer-info{
	margin-top: 0px;
	padding: 50px 0px;
}
.art-img{
	margin-top: 20px;
}
.art-img img{
	width: 710px;
}
.page-bar{
	height: 30px;
	margin-top: 20px;
	font-size: 24px;
	color: #999;
	line-height: 30px;
	position: relative;
}
.bar-i{
	padding-left: 35px;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	color: #999;
}
.bar-i:hover{
	text-decoration: none;
}
.bar-i:active{
	text-decoration: none;
}
.bar-share{
	background: url(../images/share_icon.png) 0px 3px no-repeat;
}
.bar-comment{
	background: url(../images/comment_icon.png) 0px 1px no-repeat;
	float: right;
	margin-right: 20px;
}
.bar-like{
	background: url(../images/like_icon.png) 0px 0px no-repeat;
	float: right;
	position: relative;
}
.bar-like.on{
	background: url(../images/like_icon_on.png) 0px 0px no-repeat;
	color: #e83e2d;
}
.bar-like.on:before{
	content: "";
	width: 34px;
	height: 30px;
	background: url(../images/like_icon_on.png) 0px 0px no-repeat;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	animation: tobig 0.3s forwards linear;
	-moz-animation: tobig 0.3s forwards linear;	/* Firefox */
	-webkit-animation: tobig 0.3s forwards linear;	/* Safari 和 Chrome */
	-o-animation: tobig 0.3s forwards linear;	/* Opera */
}
.art-more{
	width: 20px;
	height: 10px;
	padding: 15px;
	margin-left: 650px;
	position: relative;
}
.art-more:after{
	content: "";
	height: 10px;
    width: 10px;
    display: block;
    border: 2px solid #999;
    border-right-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.art-more.on:after{
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
	bottom: 8px;
}
.art-moretext{
	margin-top: 30px;
	display: none;
	padding: 15px;
	background: rgb(246,245,244);
}
.download-bar{
	width: 690px;
	padding: 30px;
	height: 121px;
	background: #fff;
	display: none;
	background: #f9f9f9;
}
.download-bar .sc-logo{
	float: left;
}
.download-bar .logo_icon{
	width: 121px;
	height: 121px;
}
.download-bar .app-name{
	font-size: 48px;
	line-height: 70px;
}
.download-bar .app-desc{
	font-size: 32px;
	line-height: 40px;
	color: #666;
}
.download-bar .app-intro{
	width: 320px;
	padding-left: 20px;
	float: left;
}
.download-bar .dl-btn{
	width: 170px;
	height: 56px;
	background: rgb(254,226,51);
	float: right;
	margin-top: 32px;
	border-radius: 5px;
	line-height: 56px;
	text-align: center;
	font-size: 26px;
}
.dl-prompt{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8) url(../images/appname.png) center 70% no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.dl-prompt .intro{
	width: 300px;
	font-size: 32px;
	color: #fff;
	position: absolute;
	top: 95px;
	left: 200px;
}
.dl-prompt .intro img{
	vertical-align: middle;
	margin:0px 5px;
}
.dl-prompt .dl-arrow{
	position: absolute;
	right: 50px;
	top: 20px;
}
.client-b{
	color: rgb(254,226,51);
}







.video_iframe{
	border: 1px solid #333;
}