.page_wrap{
	width: 750px;
	font-family: "microsoft yahei";
	color: #222;
	overflow: hidden;
}
.data-table-wrap{
	border-top: 25px solid #f8f8f8;
	background: #fff;
}
.tap-nav{
	width: 710px;
	padding: 0px 20px;
	margin-bottom: 10px;
	padding-top: 30px;
}
.tap-nav .tap-i{
	width: 354px;
	height: 58px;
	border: 1px solid #9ea1ab;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #9ea1ab;
	line-height: 58px;
}
.tap-nav .tap-i.on{
	background: #9ea1ab;
	color: #fff;
}
.tap-nav .tap-l{
	border-right: 0px;
	border-radius: 5px 0px 0px 5px;
}
.tap-nav .tap-r{
	border-left: 0px;
	border-radius: 0px 5px 5px 0px;
}



/*表格样式*/
.table{
	text-align: left;
	margin-bottom: 25px;
}
.table.off{
	display: none;
}
.table span{
	display: inline-block;
	vertical-align: top;
}
.table .dl{
	padding: 0px 20px;
}
.table .dt{
	width: 40px;
}
.table-head .red{
	color: #fa1e28;
}

.table-body .dt{
	width: 30px;
	height: 30px;
	margin: 30px 10px 30px 0px;
	text-align: center;
	line-height: 34px;
}
.table-body .dt.top{
	background: #fa1e28;
	color: #fff;
	border-radius: 4px;
}
.table-body .dt.last{
	background: #9ea1ab;
	color: #fff;
	border-radius: 4px;
}
.table .ta_c{
	float: right;
}
.table-head{
	height: 70px;
	line-height: 70px;
	font-size: 26px;
	color: #888;
	border-bottom: 1px solid #d8d8d8;
	padding-top: 10px;
}
.table-body{
	line-height: 90px;
	font-size: 26px;
}
.table-body .dl:nth-child(2n){
	background: rgb(248,250,250);
}

/*layout-220-140-55-55-55  */
.layout-220-140-55-55-55{
	
}
.layout-220-140-55-55-55 .dl span:nth-child(2){
	width: 220px;padding-right: 40px;
}
.layout-220-140-55-55-55 .dl span:nth-child(3){
	width: 140px;padding-right: 45px;
}
.layout-220-140-55-55-55 .dl span:nth-child(4){
	width: 55px;padding-right: 0px;
}
.layout-220-140-55-55-55 .dl span:nth-child(5){
	width: 55px;padding-right: 30px;
}
.layout-220-140-55-55-55 .dl span:nth-child(6){
	width: 55px;padding-right: 30px;
}

/*layout-220-55-55-55  */
.layout-220-55-55-55{
	
}
.layout-220-55-55-55 .dl span:nth-child(2){
	width: 220px;padding-right: 40px;
}
.layout-220-55-55-55 .dl span:nth-child(3){
	width: 55px;padding-right: 0px;
}
.layout-220-55-55-55 .dl span:nth-child(4){
	width: 55px;padding-right: 30px;
}
.layout-220-55-55-55 .dl span:nth-child(5){
	width: 55px;padding-right: 30px;
}

/*layout-220-55-40-40-40-80-55*/
.layout-220-55-40-40-40-80-55{

}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(2){
	width: 180px;padding-right: 30px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(3){
	width: 55px;padding-right: 0px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(4){
	width: 80px;padding-right: 30px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(5){
	width: 40px;padding-right: 30px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(6){
	width: 40px;padding-right: 25px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(7){
	width: 40px;padding-right: 25px;
}
.layout-220-55-40-40-40-80-55 .dl span:nth-child(8){
	width: 55px;padding-right: 30px;
}

/*layout-300-180-55*/
.layout-300-180-55{

}
.layout-300-180-55 .dl span:nth-child(2){
	width: 260px;padding-right: 30px;
}
.layout-300-180-55 .dl span:nth-child(3){
	width: 180px;padding-right: 30px;
}
.layout-300-180-55 .dl span:nth-child(4){
	width: 55px;padding-right: 0px;
}

/*layout-300-55*/
.layout-300-55{
	
}
.layout-300-55 .dl span:nth-child(2){
	width: 260px;padding-right: 30px;
}
.layout-300-55 .dl span:nth-child(3){
	width: 55px;padding-right: 0px;
}


/*layout-300-180-110*/
.layout-300-180-110{

}
.layout-300-180-110 .dl span:nth-child(2){
	width: 260px;padding-right: 30px;
}
.layout-300-180-110 .dl span:nth-child(3){
	width: 180px;padding-right: 30px;
}
.layout-300-180-110 .dl span:nth-child(4){
	width: 110px;padding-right: 0px;
}


/*layout-300-110*/
.layout-300-110{
	
}
.layout-300-110 .dl span:nth-child(2){
	width: 260px;padding-right: 30px;
}
.layout-300-110 .dl span:nth-child(3){
	width: 110px;padding-right: 0px;
}

/*layout-220-180-100-100*/
.layout-220-180-100-100{

}
.layout-220-180-100-100 .dl span:nth-child(2){
	width: 220px;padding-right: 20px;
}
.layout-220-180-100-100 .dl span:nth-child(3){
	width: 180px;padding-right: 5px;
}
.layout-220-180-100-100 .dl span:nth-child(4){
	width: 110px;padding-right: 0px;
}
.layout-220-180-100-100 .dl span:nth-child(5){
	width: 110px;padding-right: 25px;
}

/*layout-220-180*/
.layout-220-100-100{
	
}
.layout-220-100-100 .dl span:nth-child(2){
	width: 220px;padding-right: 20px;
}
.layout-220-100-100  .dl span:nth-child(3){
	width: 110px;padding-right: 0px;
}
.layout-220-100-100  .dl span:nth-child(4){
	width: 110px;padding-right: 25px;
}
