.page_wrap{
	width: 750px;
	font-family: "microsoft yahei";
	color: #222;
	background: #f8f8f8;
	overflow: hidden;
}
.data-table-wrap{
	margin-top: 25px;
	padding-top: 30px;
	background: #fff;
}
.tap-nav{
	width: 710px;
	padding: 0px 20px;
	margin-bottom: 10px;
}
.tap-nav .tap-i{
	width: 354px;
	height: 58px;
	border: 1px solid #9ea1ab;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #9ea1ab;
	line-height: 58px;
}
.tap-nav .tap-i.on{
	background: #9ea1ab;
	color: #fff;
}
.tap-nav .tap-l{
	border-right: 0px;
	border-radius: 5px 0px 0px 5px;
}
.tap-nav .tap-r{
	border-left: 0px;
	border-radius: 0px 5px 5px 0px;
}



/*表格样式*/
.table{
	text-align: left;
}
.table span{
	display: inline-block;
	vertical-align: middle;
}
.table .dl{
	padding: 0px 20px;
}
.table .dt{
	width: 40px;
}
.table .ta_c{
	float: right;
}
.table-head{
	height: 70px;
	line-height: 70px;
	font-size: 26px;
	color: #888;
	border-bottom: 1px solid #d8d8d8
}
.table-body{
	line-height: 90px;
	font-size: 26px;
}
.table-body .dl:nth-child(2n){
	background: rgb(248,250,250);
}
.layout-220-140-55-55-55 .dd.last{
	padding-right: 0px;
}

/*layout-220-140-55-55-55  */
.layout-220-140-55-55-55{
	
}
.layout-220-140-55-55-55 .dl span:nth-child(2){
	width: 220px;padding-right: 40px;
}
.layout-220-140-55-55-55 .dl span:nth-child(3){
	width: 140px;padding-right: 45px;
}
.layout-220-140-55-55-55 .dl span:nth-child(4){
	width: 55px;padding-right: 0px;
}
.layout-220-140-55-55-55 .dl span:nth-child(5){
	width: 55px;padding-right: 30px;
}
.layout-220-140-55-55-55 .dl span:nth-child(6){
	width: 55px;padding-right: 30px;
}

/*layout-220-55-55-55  */
.layout-220-55-55-55{
	
}
.layout-220-55-55-55 .dl span:nth-child(2){
	width: 220px;padding-right: 40px;
}
.layout-220-55-55-55 .dl span:nth-child(3){
	width: 55px;padding-right: 0px;
}
.layout-220-55-55-55 .dl span:nth-child(4){
	width: 55px;padding-right: 30px;
}
.layout-220-55-55-55 .dl span:nth-child(5){
	width: 55px;padding-right: 30px;
}